.about__container:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 488px;
    height: 502px;
    background: url(/./img/about--gates.png);
}
.about__content {
    background: url(/./img/about--mountains.png) center center / cover no-repeat;
    padding: 80px 98px;
    width: 780px;
    margin-left: -142px;
    margin-top: 184px;
    display: inline-block;
    vertical-align: top;
    color: black;
    margin-bottom: 38px;
}
.title--dark {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
}
.about__text {
    margin-bottom: 42px;
}
.about__text p {
    margin-bottom: 20px;
}
.about__text p:last-child {
    margin-bottom: 0;
}