
.hello {
    margin-bottom: 262px;
}
.hello__title {
    width: 511px;
    font-size: 72px;
    font-weight: bold;
    line-height: 1,2;
    margin-bottom: 28px;
}

.hello__subtitle {
    font-size: 18px;
    margin-bottom: 45px;
}
